<div class="content">
  <div>
    <h3>Шины для <b>{{ brend }} {{ model }} {{ engine }}</b></h3>
    <ul>
      {% if tsizes.f %}
      <li><b>Заводская комплектация</b></li>
     {% for size in tsizes.f %}
        <li><a href="/tire/s?width={{ size.width }}&height={{ size.height }}&diametr={{ size.radius }}" target="_blank">{{ size.tire_width }}/{{ size.tire_height }} R{{ size.tire_radius }}</a></li>
     {% endfor %}
     {% endif %}

     {% if tsizes.r %}
     <li><b>Варианты замены</b></li>
     {% for size in tsizes.r %}
        <li><a href="/tire/s?width={{ size.width }}&height={{ size.height }}&diametr={{ size.radius }}" target="_blank">{{ size.tire_width }}/{{ size.tire_height }} R{{ size.tire_radius }}</a></li>
     {% endfor %}
     {% endif %}

     {% if tsizes.t %}
     <li><b>Тюнинг</b></li>
          {% for size in tsizes.t %}
             <li><a href="/tire/s?width={{ size.width }}&height={{ size.height }}&diametr={{ size.radius }}" target="_blank">{{ size.tire_width }}/{{ size.tire_height }} R{{ size.tire_radius }}</a></li>
          {% endfor %}
     {% endif %}
    </ul>
  </div>
  <div>
    <h3>Диски для <b>{{ brend }} {{ model }} {{ engine }}</b></h3>
    <ul>
      <li><b>Общие параметры дисков</b></li>
      <li> PCD: {{lz2}}*{{pcd2}} Dia: {{ dia }} Болты/гайки: {{ bolt }}*{{ gaika }}</li>

      {% if wsizes.f %}
      <li><b>Заводская комплектация</b></li>
         {% for size in wsizes.f %}
          <li><a href="/wheels/s?diametr={{ size.radius }}&width={{ size.width }}&lz={{ lz }}&pcd={{ pcd }}" target="_blank">{{ size.wheels_width }}x{{ size.wheels_radius }}  ET{{ size.wheels_et }}</a></li>
         {% endfor %}
      {% endif %}

      {% if wsizes.r %}
            <li><b>Варианты замены</b></li>
               {% for size in wsizes.r %}
                <li><a href="/wheels/s?diametr={{ size.radius }}&width={{ size.width }}&lz={{ lz }}&pcd={{ pcd }}" target="_blank">{{ size.wheels_width }}x{{ size.wheels_radius }}  ET{{ size.wheels_et }}</a></li>
               {% endfor %}
       {% endif %}

      {% if wsizes.t %}
                  <li><b>Тюнинг</b></li>
                     {% for size in wsizes.r %}
                      <li><a href="/wheels/s?diametr={{ size.radius }}&width={{ size.width }}&lz={{ lz }}&pcd={{ pcd }}" target="_blank">{{ size.wheels_width }}x{{ size.wheels_radius }}  ET{{ size.wheels_et }}</a></li>
                     {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>